.header__top li {
	list-style-type: none;
	display: inline-block;
	margin: 10px 0 -9px 10px;
	
}

.header__main {
	border-top: 2px solid #aaa;
    background-color: #2075b8;
}

.logo {
	background: url(../images/logo2.png) no-repeat;
	color: transparent;
    width:232px;
    height:97px;
	font: 0/0 a;
	text-shadow: none;
	display: block;
	margin: 5px 20px 0 0px;
	float:left;
}

.navigation {
	background-color: #04a0dd;
}

.nav {
	width: 100%;
}

.nav li {
	padding: 0 9px;
	border-right: 1px solid rgba(34, 86, 165, 0.68);

}

.nav li:last-child {
	border-right: 0;
}

.nav a {
	color: #fff !important;
}

.form-search {
	clear: both;
}

.site-search {
	background-color: rgb(89, 89, 89);
	margin: 0;
	padding: 15px 10px;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
	width: 872px;
	float: none;
	margin-left: 203px;
	position: absolute;
}
input[type="search"]{
width:190px;
height:35px;
}
#combo_Categories{
padding-top:0px;
}

.site-search li {
	display: inline-block;
	padding: 0 5px;
}

.footer {
	background-color: #2075b8;
}
.header__main .btn-primary{
margin-top:5px;
color:#fff;
}
#title_tx{
border-bottom: 1px solid #144685;
display: block;
font-weight: bold;
}
@media (max-width: 480px){
.menu-header-container{
	width: 50%;
	text-align:center;
}
.nav li{
width:200px;
border-right: 0px !important;
}
.nav li:hover{
width:200px;
}
.navigation{
padding-left: 56px;
}
}

@media (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 979px) {

}
@media (min-width: 768px) and (max-width: 979px) {

}

@media (min-width: 980px) {

}
.content{
width:100% !important;
}
.sidebar{
border: 1px solid #642C2C;
height: 500px !important;;
}
.title{
width: 100%;
border: 1px solid;
height: 33px;
border-radius: 2px;
text-align: center;
margin-top: 0px;
padding-top: 7px;
color: #fff;
background: rgb(28, 153, 177);
}
.pull-right{
margin-top:10px;
}
.logo{
margin-left: -84px;
}
#combo_country, #combo_State, #combo_City{
width:157px;
margin-left:8px;
padding-top:9px;
}

#bn_search{

width: 114px !important;
height:35px;
background: rgb(243, 71, 5);
border: 1px solid #EC1919;
color: #fff;
font-size: 16px;
font-weight: bold;
}
#bn_search:hover{
color: #f0f0;
background: rgb(238, 165, 35);
border: none;
}
.nav{
float: none !important;
}
.nav>li>a{
padding-right:26px !important;
}

.listing-right{
width:600px;
}
.nav{width: 100% !important;}

.menu-header-container{
width: 100%;
}
.listing-right{
width:650px !important;
}
.video{
padding-left: 26px;
margin-top: 15px;
}
.post{
margin-left:-20px;
}
strong.str{
padding-left: 49px;
}
.imageslogo {
margin-left:50px;
}
.btnsearch {
    float: right;
    width: 32px;
    height: 26px;
    background-position: -122px -76px;
}